.itemWrap {
  position: relative;
  width: 493px;
  height: 666px;
  border-radius: 30px;
  color: #fff;
  padding: 48px 32px;
  background: rgb(136, 235, 239);
  background: linear-gradient(
    133deg,
    rgba(136, 235, 239, 0.65) 0%,
    rgba(83, 91, 230, 0.65) 100%
  );
  overflow: hidden;
}
.image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
}
.image img {
  width: 100%;
  height: auto;
}
.itemBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.itemBody > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.dayTitle {
  font-weight: 700;
  font-size: 37px;
}
.date {
  font-weight: 500;
  font-size: 22px;
}
.geo {
  font-weight: 600;
  font-size: 20px;
}
.tempiratureTitle {
  font-weight: 700;
  font-size: 50px;
}
.weatherTitle {
  font-weight: 600;
  font-size: 30px;
}
